body {
    background-color: hsl(185, 41%, 84%);
    margin: 0px;
    padding-bottom: 35px;
}

* {
    font-family: 'Space Mono';
}

label {
    font-weight: 600;
    color: hsl(186, 14%, 43%);
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    letter-spacing: 15px;
}

.title {
    flex-basis: 100%;
    text-transform: uppercase;
    letter-spacing: 15px;
    text-align: center;
    padding: 3rem 0;
    font-weight: bold;
    color: hsl(183, 100%, 15%);
}

.calculator-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    border-radius: 25px;
}

.left-container,
.right-container {
    flex: 1 1 48%;
}

.right-container {
    display: flex;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    color: hsl(0, 0%, 100%);
    align-content: space-around;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.inline-form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
}

.input-icons p {
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(184, 14%, 56%);
}

.input-icons {
    display: flex;
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.input-icons:hover,
.input-icons:focus-visible {
    border: 2px solid hsl(172, 67%, 45%);
}

.icon {
    padding: 10px 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: end;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    border: 0ch;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 24px;
}

.input-field:hover,
.input-field:focus-visible {
    outline: none;
}

.select-grid {
    margin: 35px 0px 50px 0px;
}

.select-grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(48px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(117px, 1fr));
    gap: 15px 15px;
    justify-content: space-between;
    margin: 15px 0px 25px 0px;
}

.grid-item {
    background-color: hsl(183, 100%, 15%);
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    color: hsl(189, 41%, 97%);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.custom-item {
    text-align: right;
    background-color: hsl(189, 41%, 97%);
    border: solid 2px transparent;
    color: hsl(183, 100%, 15%);
}

.custom-item::placeholder {
    text-align: center;
}

.grid-item:hover,
.btn--selected {
    background-color: #9FE8DF;
    color: hsl(183, 100%, 15%);
}

.input-field:hover,
.grid-item:hover,
button:hover {
    cursor: pointer;
}

#error {
    color: orange;
    font-size: smaller;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: auto;
}

.result-container {
    width: 85%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 25px;
    justify-items: start;
    justify-content: start;
    text-align: start;
}

.result-container h4 {
    margin-bottom: 0;
    font-size: smaller;
}

.result-container p {
    margin-top: 0;
    font-size: smaller;
    font-weight: bolder;
    color: hsl(184, 14%, 56%);
}

.tip-amount,
.total-amount {
    justify-self: end;
}

.tip-value,
.total-value {
    color: hsl(172, 67%, 45%);
    font-size: xx-large;
    font-weight: bold;
}

.btn-container {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}

.btn-reset {
    width: 85%;
    border-radius: 5px;
    border: none;
    padding: 8px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 900;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
}

.btn-reset:hover {
    background-color: hsl(185, 49%, 81%);
}

/* ----------media queries----------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width:600px) {
    .calculator-container {
        flex-basis: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) {
    .calculator-container {
        flex-basis: 84%;
    }
}

@media only screen and (min-width:1240px) {
    .calculator-container {
        flex-basis: 64%;
    }
}

@media only screen and (min-width:1634px) {
    .calculator-container {
        flex-basis: 58%;
    }
}